.container{
    width: 330px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    transition: all .5s;
}
.imgcard{
    width: 100%;
    transition: all .5s;
}
.containerImage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    transition: all .5s;
}
.titleCard{
    margin-top: 8px;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    color: #FFF;
    transition: all .5s;
}
.content{
    margin-left: 15px;
    width: 280px;
    height: 100%;
    transition: all .5s;
}
.containerPercent{
    width: 230px;
    height: 25px;
    margin-top: 15px;
    border: 5px solid black;
    background-color: white;
    transition: all .5s;
}
.percent{
    width: 60%;
    height: 100%;
    background-color: #3F4583;
    transition: all .5s;
}


@media (max-width: 1060px){
    .container{
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 762px){
    .containerPercent{
        width: 150px;
        height: 17px;
        
    }
    .content{
        width: 200px;
    }
    .container{
        width: 235px;
        height: 65px;
    }
    .titleCard{
        font-size: 12px;
    }
}
@media (max-width:560px){
    .container{
        width: 300px;
        margin-bottom: 50px;
    }
    .containerPercent{
        width: 200px;
        height: 20px;
    }
    .content{
        width: 250px;
    }
}
