.card {
    cursor: pointer;
    padding: 0;
    width: 330px;
    height: 200px;
    background-color: #323232;
    border: 0;
    box-shadow: 4px 8px 0px #000;
    transition: all .5s;
}

.imgcontainer {
    opacity: 60%;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-bottom: 4px solid #F6DB1A;
    transition: all .5s;
}

.imgcontainer span {
    width: 100%;
    height: 100%;
    margin-top: 28%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Fira Code', monospace;
    font-size: 24px;
    font-weight: 500;
    font-style: italic;
    color: #fff;
    transition: all .3s;
}

.card:hover {
    scale: 1.05;
}

.imgcontainer span:hover {
    font-size: 22px;
}

.imgcontainer:hover {
    opacity: 1;
}

@media (max-width:1280px) {
    .card {
        margin-bottom: 60px;
    }
}

@media (max-width: 762px) {
    .card {
        width: 255px;
        height: 142px;
    }

    .imgcontainer {
        height: 142px;
    }

    .imgcontainer span {
        font-size: 20px;
    }
}

@media (max-width: 560px) {
    .card {
        width: 280px;
        height: 167px;
    }

    .imgcontainer {
        height: 167px;
    }

    .imgcontainer span {
        font-size: 20px;
    }
}

.PopupCardsProject {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    z-index: 100;
    visibility: visible;
}

.container{
    box-shadow: 4px 4px 0px #FFF;
    background-color: #1F1F1F;
    color: black;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
}
.imgPopup{
    position: relative;
    display: flex;
    justify-content: flex-end;
    border: 0;
    background-color: #2e2e2e;
    width: 100%;
    height: 300px;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    
}

.content h1{
    color: #FFF;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Fira Code', monospace;
}

.containerText{
    font-family: 'Fira Code', monospace;
    font-weight: 200;
    color: #FFF;
    width: 90%;
    margin-left: 10px;
}

.buttonPopup{
    color: #FFF;
    box-shadow: 3px 3px 0px black;
    background-color: #323232;
    margin: 15px 15px 15px 10px;
    padding: 5px 10px;
    border: 0;
}
.buttonClose{
    cursor: pointer;
    width: 22px;
    height: 22px;
    border: 0;
    border-top: 20px;
    border-right: 5px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    margin-top: 5px;
    margin-right: 5px;
}