.Header {
    margin: 0;
    z-index: 1000;
    background-color: #2F324A;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 6vh;
    min-height: 45px;
    border-bottom: 3px solid black;
}

.logo{
    margin-top: 5px;
    height: auto;
    width: 100px;
    margin-left: 10px;
}

nav a {
    margin-right: 30px;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px 0px #000000;
}

.containerLinksnav {
    display: flex;
    justify-content: space-between;
    transition: all .8s;
}

.buttonNavMobile {
    width: 35px;
    height: 35px;

    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    margin-right: 20px;

    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.hamburguer{
    border-top: 3px solid white;
    width: 20px;
}

.hamburguer::after, .hamburguer::before{
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background-color: #FFF;
    margin-top: 5px;
}

@media (max-width : 762px) {
    .containerLinksnav {
        display: none;
    }

    .buttonNavMobile {
        display: flex;
    }
}

