:root {
    --bluecolor: rgb(18, 18, 39);
    --backgroundColorModal: rgba(0, 0, 0, 0.8);
    --backgroundcontainer: #fff;
}

.popUp {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--backgroundColorModal);
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: all .4s;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.container {
    background-color: #1F1F1F;
    color: black;

    width: 60%;
    min-width: 295px;
    max-width: 380px;

    height: 190px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.buttonsRedirection{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    color: #fff;
    background-color: #1F1F1F;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    cursor: pointer;
}
.ancor{
    display: block;
    text-decoration: none;
    border-radius: 10px;
    color: #fff;
    padding-top: 10px;
    height: 65%;
    width: 100%;
}

.divClose {
    position: relative;
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: flex-end;
}

.buttonClose {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 30px;
    padding: 8px 13px 8px 13px;
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    cursor: pointer;
}

.imgCloseButton {
    width: 100%;
    height: 100%;
}