.PopupCardsProject {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0,0,0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
    z-index: 100;
}

.container{
    box-shadow: 4px 4px 0px #000000;
    background-color: #1F1F1F;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
}
.imgPopup{
    display: flex;
    justify-content: flex-end;
    border: 0;
    background-color: #2e2e2e;
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    
}

.Title{
    color: #F6DB1A;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Fira Code', monospace;
}

.containerText{
    font-family: 'Fira Code', monospace;
    font-weight: 200;
    color: #FFF;
    width: 90%;
    margin-left: 10px;
}

.buttonPopup{
    cursor: pointer;
    font-family: 'Fira Code', monospace;
    font-weight: 700;
    color: #000;
    box-shadow: 3px 3px 0px black;
    background-color: #F6DB1A;
    margin: 15px 15px 15px 10px;
    padding: 5px 10px;
    border: none;
}
.buttonClose{
    cursor: pointer;
    width: 22px;
    height: 22px;
    border: 0;
    border-top: 20px;
    border-right: 5px;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    margin-top: 5px;
    margin-right: 5px;
}

@media (max-width: 762px){
    .container{
        width: 500px;
    }
    .imgPopup{
        height: 250px;
    }
}
@media (max-width: 560px){
    .container{
        width: 400px;
    }
    .imgPopup{
        height: 200px;
    }
}
@media (max-width: 440px){
    .container{
        width: 350px;
    }
    .imgPopup{
        height: 175px;
    }
}
@media (max-width: 380px){
    .container{
        width: 300px;
    }
    .imgPopup{
        height: 150px;
    }
}