.container{
    padding-top: 3vh;
    width: 100%;
    height: auto;
    background-color: #816797;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 5px solid black;
}
.titleProjects{
    margin-top: 30px;
    font-size: 25px;
    color: #fff;
    text-shadow: 4px 4px 0px #000000;
    font-family: 'Press Start 2P', cursive;
}
.containercardsglobal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.containercards1{
    display: flex;
    flex-direction: row;
    width: 82%;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}
.containercards2{
    display: flex;
    flex-direction: row;
    width: 82%;
    margin-top: 50px;
    margin-bottom: 60px;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:1280px){
    .containercards1{
        flex-direction: column;
    }
    .containercards2{
        flex-direction: column;
        margin-bottom: 0;
    }
    .containercardsglobal{
        flex-direction: row;
    }
}

@media (max-width:560px){
    .containercardsglobal{
        flex-direction: column;
    }
    .titleProjects{
        font-size: 20px;
    }
    .containercards2{
        margin: 0;
    }
}

